
.whole {
  background-color: #F5F5F5;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  display: flex;
  height: inherit;
  flex-direction: column;
  background-color: #F5F5F5;
}

.timer {
  text-align: center;
}

.bear {
  position: fixed;
  bottom:0px;
  left:0%;
  height:35%;
  width:20%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

section {
  border: 1px solid black;
  border-bottom: #fff;
}

.myButton {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  z-index: 0;
  background: #fff;
  overflow: hidden;
  border: 2px solid #235347;
  color: #235347;
  margin: 2px;
}
.myButton:hover {
  color: #fff;
}
.myButton:hover:after {
  height: 100%;
}
.myButton:after {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.3s ease;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  background: #235347;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav {
  width: 100%;
}

a {
  cursor: pointer;
}

.menu {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: stretch;
  height: 70px;
}

.menu li {
  display: inline-block;
  width: 90px;
  transition: all 0.3s ease-in-out;
}

.menu li:hover .submenu {
  height: 85px;
}

.menu > li:hover > a {
  color: #3e95ff;
}

.menu > li:hover > a::before {
  visibility: visible;
  scale: 1 1;
}

.submenu {
  overflow: hidden;
  position: absolute;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  background-color: #3e95ff;
  height: 0;
  line-height: 40px;
  box-sizing: border-box;
  transition: height 0.3s ease-in-out;
}
.menu li .submenu a {
  color: #fff;
  opacity: 0;
  font-size: 16px;
  transition: opacity 0.25s;
}

.menu > li:hover .submenu a {
  opacity: 1;
}

.menu > li .submenu a:hover {
  background: rgb(0 0 0 / 20%);
}

.menu > li a {
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 7px;
  text-decoration: none;
  position: relative;
  height: 100%;
}

.menu > li > a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 3px;
  left: 0px;
  background-color: #3e95ff;
  transition: all 0.2s ease-in-out;
  scale: 0 0;
  visibility: hidden;
}

/* spotify homepage css */

.above-spotify-extra-space {
  margin-top: 135px;
}

.spotify-container {
  display: flex;
}

.spotify-extra-space {
  width: 50%;
}

/* homepage css */

.homepage-button {
  background-color: black;
  color: white;
  font-weight: 300;
  border: 0px;
  border-radius: 8px;
  font-size: 20px;
}

.google-button {
  width: 150px;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-right: 30px;
}

.google-button img {
  width: 25px;
  margin-right: 10px;
  margin-bottom: 3px;
}

.mark-as-done-button {
  width: 160px;
  padding-top: 7px;
  padding-bottom: 7px;
}

.start-button {
  width: 90px;
  padding-top: 7px;
  padding-bottom: 7px;
}

.restart-button {
  width: 110px;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-left: 40px;
}

.timer-button {
  font-weight: 300;
  font-size: 20px;
  background-color: #F5F5F5;
  border: 0;
  padding-top: 7px;
  padding-bottom: 7px;
  text-decoration: underline;
}

.clock {
  font-size: 60px;
  font-weight: 600;
}

.curr-task-box {
  background-color: white;
  border-right: 1px solid #D5D5D5;
  border-top: 0;
}

.timer {
  border: 0;
}

.num-tasks {
  font-size: 15px;
  font-weight: 300;
}

.curr-task-name {
  font-size: 30px;
  font-weight: 400;
}

/* task manager css */
.view-section {
  background-color: white;
  border-right: 1px solid #D5D5D5;
  border-top: 0;
}

.view-button {
  border: 0;
  background-color: transparent;
  color: black;
  font-weight: 300;
  font-size: 20px;
  /* text-decoration: underline; */
}

.view-button a {
  color: black;
  text-decoration: none;
}

.view-button:hover {
  color: white;
  background-color: black;
}

.view-button a:hover {
  color: white;
}

.task-section {
  border: 0;
}

.date-button {
  background-color: transparent;
  color: black;
  font-weight: 600;
  font-size: 20px;
  border: 0;
}

.add-task-button {
  background-color: transparent;
  color: grey;
  font-weight: 400;
  font-size: 20px;
  border: 0;
}

.card-name {
  background-color: white;
  border-bottom: none;
  font-weight: 300;
  font-size: 18px;
}

.school-button {
  background-color: #8BB52E;
  color: white;
  border: 0;
}

.personal-button {
  background-color: #FF7100;
  color: white;
  border: 0;
}

.work-button {
  background-color: #3BA9A0;
  color: white;
  border: 0;
}

.other-button {
  background-color: #34398A;
  color: white;
  border: 0;
}

.cancel-button {
  background-color: transparent;
  color: black;
  font-weight: 200;
  border: 1px solid black;
  padding: 10px 20px;
}

.create-task-button {
  background-color: black;
  color: white;
  font-weight: 200;
  border: 1px solid black;
  padding: 10px 20px;
}