#navbar {
    background-color: #FFFFFF;
    border-bottom: 1px solid #D5D5D5;
    display: flex;
    padding-top: 40px;
    align-items: center;
    padding-bottom: 10px;
}

.nav-title {
    padding-left: 40px;
}

.nav-title h1 {
    font-size: 35px;
    font-weight: 550;
}

.nav-links {
    display: flex;
    justify-content: flex-end;
}

.nav-links a {
    font-weight: 300;
    font-size: 20px;
    color: black;
    margin-left: 75px;
    text-decoration: none;
}

.nav-last-link {
    margin-right: 50px;
}