.splash-container {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.splash {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 1;
    height: 100%;
    overflow: auto;
}

.splash.fade-out {
    opacity: 0;
    animation: fadeOut 3s ease-in-out forwards;
}

.splash.fade-in {
    opacity: 1;
    animation: fadeIn 3s ease-in-out forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    90% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.splash-background {
    background-image: linear-gradient(to bottom right, rgba(131, 210, 215), rgba(237, 253, 245));
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 1;
}

.welcome-to, .the-header, .aquapod-header {
    color: #024343;
}

/* Welcome to */
.welcome-to {
    width: 310px;
    height: 63px;
    left: 565px;
    top: 300px;
    font-weight: 400;
    font-size: 40px;
    line-height: 60px;
    text-align: center;
}

/* the */
.the-header {
    width: 107px;
    height: 68px;
    left: 667px;
    top: 363px;
    font-weight: 400;
    font-size: 60px;
    line-height: 90px;
    text-align: center;
}

/* AquaPod */
.aquapod-header {
    width: 370px;
    height: 137px;
    left: 535px;
    top: 406px;
    font-weight: 400;
    font-size: 90px;
    line-height: 70px;
}