#spotify {
    position: absolute;
    z-index: 9;
    text-align: center;
    border-radius: 12px;
}

#spotifyheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    color: #fff;
    display: flex;
}

.spotify-button {
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 12px;
    height: 3rem;
    /* width: 10rem; */
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.spotify-search-bar {
    border-radius: 12px;
    border: 1px solid black;
    height: 3rem;
    z-index: 9;
    margin-left: 5px;
    color: black;
    padding: 5px;
}

.spotify-playlist-button {
    margin-left: 5px;
}

.spotify-toggle {
    margin-left: 5px;
}

.spotify-button.spotify-toggle span {
    display: inline-block;
    vertical-align: middle;
}

.spotify-button.spotify-toggle span img {
    margin-right: 10px;
}