.spotify {
    margin-top: 25px;
    margin-bottom: 15px;
    width: 50%;
    float: right;
    margin-right: 15px;
}

.spotify-nav {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

.spotify-button {
    background-color: black;
    color: white;
    border: none;
    border-radius: 12px;
    height: 3rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.spotify-search-bar {
    border-radius: 12px;
    height: 3rem;
}

.spotify-playlist-button {
    margin-left: 5px;
}